@import url('https://fonts.googleapis.com/css2?family= Borel & display=swap');
@import url(bezerros.css);

.col-12 {
    font-size: 20px;
    margin: 1em 0;
}

.titulo_historico_animais {
    margin: 0 0 2em 0;
}

.table col {
    font-size: 30px;
}

.form-label {
    font-size: 20px;
}

th {
    font-size: 17px;
}

td {
    font-size: 17px;
}

.titulo_relatoriomes {
    font-size: 35px;
    color: gray;
}

#container_divs_cadastro {
    margin: 10px 0;
    padding: 2em;
}


