.col-12 {
    font-size: 20px;
    margin: 1em 0;
}

.titulo_historico_animais {
    margin: 0 0 2em 0;
}

.table col {
    font-size: 30px;
}

.form-label {
    font-size: 20px;
}

th {
    font-size: 17px;
}

td {
    font-size: 17px;
}

.titulo_relatoriomes {
    font-size: 35px;
    color: gray;
}

.form-label {
    font-size: 17px;
}

#container_divs_cadastro {
    margin: 10px 0;
    padding: 2em;
}

#container_divs_cadastro input {
    border: 2px solid rgb(202, 200, 200);
}
